<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Employee Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/demo.css}">
</head>
<body>
  <div class="container">
    <h3>Employee Directory</h3>
    <hr>
    <form
      th:method="@{{method}(method=${id > 0 ? 'PATCH' : 'POST'})}"
      th:action="${id > 0 ? '/employees/update/' + id : '/employees/add'}"
      th:object="${employee}">
      <div class="mb-3 w-25">
        <label for="firstName" class="form-label">Firstname</label>
        <input type="text" class="form-control" id="firstName" th:field="*{firstName}">
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></span>
      </div>

      <div class="mb-3 w-25">
        <label for="lastName" class="form-label">Lastname</label>
        <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
      </div>

      <div class="mb-3 w-25">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" th:field="*{email}">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <hr>
    <a href="/employees">Back to Employee list</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
