<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Process Student Form</title>
</head>
<body>
<h1>Processing form</h1>

<!--  <br>-->

  <h2>Student</h2>
  First name: <span th:text="${param.firstName}"></span>
  <br>
  Last name: <span th:text="${param.lastName}"></span>
  <br>
  Email: <span th:text="${param.email}"></span>
  <br>
  Country: <span th:text="${model.country}"></span>
  <br>
  Favorite programming langauge: <span th:text="${model.country}"></span>
<!--  <br>-->

  <h2>Using the model</h2>
  First name: <span th:text="${model.firstName}"></span>
  <br>
  Last name: <span th:text="${model.lastName}"></span>
  <br>
  Email: <span th:text="${model.email}"></span>
  <br>
  Country: <span th:text="${model.country}"></span>
  <br>
  Favorite programming language: <span th:text="${model.favoriteLanguage}"></span>
</body>
</html>
