<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Process Student Form</title>
</head>
<body>
  Processing form

<!--  <br>-->

  <h2>Student</h2>
  firstName: <span th:text="${param.firstName}"></span>
  <br>
  lastName: <span th:text="${param.lastName}"></span>
  <br>
  email: <span th:text="${param.email}"></span>
  <br>
  country: <span th:text="${model.country}"></span>
<!--  <br>-->

  <h2>Using the model</h2>
  firstName <span th:text="${model.firstName}"></span>
  <br>
  lastName <span th:text="${model.lastName}"></span>
  <br>
  email <span th:text="${model.email}"></span>
  <br>
  country <span th:text="${model.country}"></span>
</body>
</html>
